In [3]:
import numpy as np
import pandas as pd

In [4]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [5]:
movies = movies.merge(credits, on='title')

In [6]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [7]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
import ast

def convert(text, parameter):
    L = []
    cnt = 0
    for i in ast.literal_eval(text):
        #for crew data we need only director so we will break the loop once we get the director
        cnt += 1
        if parameter == 'job':
            if i['job'] == 'Director':
                L.append(i['name'])
                break
        else:
            L.append(i[f'{parameter}'])
            #for cast data we will take only first three characters
            if cnt == 3 and parameter == 'character':
                break
    return L

In [9]:
movies['genres'] = movies['genres'].apply(convert, args={'name'})

In [10]:
movies['keywords'] = movies['keywords'].apply(convert, args = {'name'})

In [11]:
movies['crew'] = movies['crew'].apply(convert, args = {'job'})

In [12]:
movies['cast'] = movies['cast'].apply(convert, args = {'character'})

In [13]:
# movies['overview']  = movies['overview'].apply(lambda x: x.split())
movies.dropna(inplace=True)

In [14]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [15]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [16]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
1075,11359,The Indian in the Cupboard,"[A, nine-year-old, boy, gets, a, plastic, Indi...","[Adventure, Family, Fantasy]","[cupboard, games, puppet, parallel world, toy ...","[Omri, Little Bear, Jane]",[Frank Oz]
4153,198062,Coffee Town,"[Three, thirty-something, friends, band, toget...",[Comedy],"[coffee shop, slacker, thirty something, caref...","[Will, Chad, Gino]",[Brad Copeland]
2155,38303,You Again,"[History, --, make, that, high, school, --, ma...","[Comedy, Romance]","[brother sister relationship, marriage, bully,...","[Marni, Aunt Ramona, Grandma Bunny]",[Andy Fickman]
988,69668,Dream House,"[Publisher,, Will, Atenton, quits, a, lucrativ...","[Drama, Thriller, Mystery]","[house fire, extension ladder, last day on job]","[Will Atenton, Ann Patterson, Libby Atenton]",[Jim Sheridan]
1719,112949,Safe Haven,"[A, young, woman, with, a, mysterious, past, l...",[Romance],"[based on novel, small town, widower, single f...","[Katie Feldman, Alex Wheatley, Jo]",[Lasse Hallstr√∂m]

In [17]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
791,257445,Goosebumps,"[A, teenager, teams, up, with, the, daughter, ...","[Adventure, Horror, Comedy]","[basedonnovel, magic, fantasy, werewolf, famil...","[R.L.Stine, ZachCooper, Hannah]",[RobLetterman]
4725,40652,The Married Woman,"[Charlotte, is, young, and, modern,, not, a, h...","[Drama, Romance]","[sandstorm, woman, godard, married]","[Charlotte, Robert,theLover, Pierre,theHusband]",[Jean-LucGodard]
4528,16653,The Singles Ward,"[When, Jonathan, Jordan, gets, divorced, he's,...","[Comedy, Drama, Family, Romance]",[],"[JonathanJordan, CammieGiles, Eldon]",[KurtHale]
458,41515,Yogi Bear,"[Jellystone, Park, has, been, losing, business...","[Comedy, Family, Animation, Adventure]","[picnic, sandwich, bear, 3d, yogi]","[YogiBear(voice), Boo-BooBear(voice), Rachel]",[EricBrevig]
926,8920,Garfield,"[Garfield,, the, fat,, lazy,, lasagna, lover,,...","[Animation, Comedy, Family]","[competition, moderator, lasagne, garfield]","[Garfield(voice), Jon, Liz]",[PeterHewitt]

In [18]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [19]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[JakeSully, Neytiri, Dr.GraceAugustine]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[CaptainJackSparrow, WillTurner, ElizabethSwann]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond‚Äôs, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[JamesBond, Blofeld, Madeleine]",[SamMendes],"[A, cryptic, message, from, Bond‚Äôs, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[BruceWayne/Batman, AlfredPennyworth, JamesGor...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[JohnCarter, DejahThoris, Sola]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [20]:
new_df = movies[['movie_id','title','tags']]

In [21]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond‚Äôs, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [22]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

/tmp/ipykernel_22002/1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [23]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond‚Äôs past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [24]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/tmp/ipykernel_22002/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [25]:
new_df.sample(5)

,movie_id,title,tags
3284,26963,The Secret of Kells,adventure awaits 12 year old brendan who must ...
975,9573,Blood Work,"still recovering from a heart transplant, a re..."
3134,217708,Of Horses and Men,a country romance about the human streak in th...
2382,10017,The Wraith,packard walsh and his motorized gang control a...
1287,110415,Snowpiercer,in a future where a failed global-warming expe...

In [28]:
# !pip install nltk
import nltk
from nltk.stem.porter import PorterStemmer

In [29]:
ps = PorterStemmer()

In [30]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [31]:
new_df['tags'] = new_df['tags'].apply(stem)

/tmp/ipykernel_22002/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [34]:
cv_matrix = cv.fit_transform(new_df['tags']).toarray()

In [35]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zombies', 'zone', 'zoo'],
      shape=(5000,), dtype=object)

In [36]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(cv_matrix)

In [37]:
def recommend(movie):
  movie_index = new_df[new_df['title'] == movie].index[0]
  distances = similarity[movie_index]
  movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])
  for index in movies_list[1:6]:
    print(new_df.iloc[index[0]]['title'])

In [38]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
Batman v Superman: Dawn of Justice

In [39]:
import pickle
pickle.dump(new_df, open('dataset.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))