In [2]:
import numpy as np
import pandas as pd

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [4]:
movies = movies.merge(credits, on='title')

In [5]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [6]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
import ast

def convert(text, parameter):
    L = []
    cnt = 0
    for i in ast.literal_eval(text):
        #for crew data we need only director so we will break the loop once we get the director
        cnt += 1
        if parameter == 'job':
            if i['job'] == 'Director':
                L.append(i['name'])
                break
        else:
            L.append(i[f'{parameter}'])
            #for cast data we will take only first three characters
            if cnt == 3 and parameter == 'character':
                break
    return L

In [8]:
movies['genres'] = movies['genres'].apply(convert, args={'name'})

In [9]:
movies['keywords'] = movies['keywords'].apply(convert, args = {'name'})

In [10]:
movies['crew'] = movies['crew'].apply(convert, args = {'job'})

In [11]:
movies['cast'] = movies['cast'].apply(convert, args = {'character'})

In [12]:
# movies['overview']  = movies['overview'].apply(lambda x: x.split())
movies.dropna(inplace=True)

In [13]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [15]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
1668,6016,The Good Thief,"[A, compulsive, gambler, plans, the, heist, of...","[Crime, Drama, Thriller]","[casino, monte carlo, painting, caper, indepen...","[Bob Montagnet, Roger, Anne]",[Neil Jordan]
2778,84892,The Perks of Being a Wallflower,"[A, coming-of-age, story, based, on, the, best...","[Drama, Romance]","[shyness, secret, narration, kiss, freshman, c...","[Charlie Kelmeckis, Sam, Patrick]",[Stephen Chbosky]
2286,694,The Shining,"[Jack, Torrance, accepts, a, caretaker, job, a...","[Horror, Thriller]","[hotel, isolation, hotelier, colorado, maze, b...","[Jack Torrance, Wendy Torrance, Danny Torrance]",[Stanley Kubrick]
1718,9398,Zoolander,"[Clear, the, runway, for, Derek, Zoolander,, V...",[Comedy],"[male model, time magazine, fashion show, fash...","[Derek Zoolander, Hansel, Matilda Jeffries]",[Ben Stiller]
3210,13483,Awake,"[While, undergoing, heart, surgery,, a, man, e...","[Thriller, Crime, Mystery]",[],"[Clay Beresford, Sam Lockwood, Dr. Jack Harper]",[Joby Harold]

In [16]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
1074,8987,The River Wild,"[While, on, a, family, vacation,, rafting, exp...","[Action, Adventure, Crime, Thriller]","[river, robber, boston, bankrobber, marriagecr...","[GailHartman, TomHartman, Wade]",[CurtisHanson]
2797,26688,Sorority Row,"[When, five, sorority, girls, inadvertently, c...","[Horror, Mystery, Thriller]","[femalenudity, graduation, serialkiller, blood...","[Ellie, Cassidy, Claire]",[StewartHendler]
30,558,Spider-Man 2,"[Peter, Parker, is, going, through, a, major, ...","[Action, Adventure, Fantasy]","[dualidentity, loveofone'slife, pizzaboy, marv...","[PeterParker/Spider-Man, MaryJaneWatson, Harry...",[SamRaimi]
3628,21014,Keeping Up with the Steins,"[All, hilarity, breaks, loose, in, this, heart...",[Comedy],"[barmitvah, party, independentfilm]","[BenjaminFiedler, JoanneFiedler, AdamFiedler]",[ScottMarshall]
4407,43630,The Helix... Loaded,[],"[Action, Comedy, ScienceFiction]",[],[],[]

In [17]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [18]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[JakeSully, Neytiri, Dr.GraceAugustine]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[CaptainJackSparrow, WillTurner, ElizabethSwann]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[JamesBond, Blofeld, Madeleine]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[BruceWayne/Batman, AlfredPennyworth, JamesGor...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[JohnCarter, DejahThoris, Sola]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [19]:
new_df = movies[['movie_id','title','tags']]

In [20]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [21]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

/tmp/ipykernel_23852/1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [22]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [23]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/tmp/ipykernel_23852/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [24]:
new_df.sample(5)

,movie_id,title,tags
3895,10162,Waking Ned,"when a lottery winner dies of shock, his fello..."
272,24113,Town & Country,porter stoddard is a well-known new york archi...
4072,69640,Lies in Plain Sight,“lies in plain sight” tells the story of eva a...
2375,10549,Hamlet,"hamlet, prince of denmark, returns home to fin..."
3161,348,Alien,"during its return to the earth, commercial spa..."

In [25]:
import nltk
from nltk.stem.porter import PorterStemmer

In [26]:
ps = PorterStemmer()

In [27]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [28]:
new_df['tags'] = new_df['tags'].apply(stem)

/tmp/ipykernel_23852/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [30]:
cv_matrix = cv.fit_transform(new_df['tags']).toarray()

In [31]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zombies', 'zone', 'zoo'],
      shape=(5000,), dtype=object)

In [32]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(cv_matrix)

In [46]:
def recommend(movie):
  movie_index = new_df[new_df['title'] == movie].index[0]
  distances = similarity[movie_index]
  movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])
  for index in movies_list[1:6]:
    print(new_df.iloc[index[0]]['title'])

In [50]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
Batman v Superman: Dawn of Justice

In [ ]:
import pickle
pickle.dump(new_df, open('dataset.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))