In [80]:
import numpy as np
import pandas as pd

In [81]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [82]:
movies = movies.merge(credits, on='title')

In [83]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [84]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [85]:
import ast

def convert(text, parameter):
    L = []
    cnt = 0
    for i in ast.literal_eval(text):
        #for crew data we need only director so we will break the loop once we get the director
        cnt += 1
        if parameter == 'job':
            if i['job'] == 'Director':
                L.append(i['name'])
                break
        else:
            L.append(i[f'{parameter}'])
            #for cast data we will take only first three characters
            if cnt == 3 and parameter == 'character':
                break


    return L

In [86]:
movies['genres'] = movies['genres'].apply(convert, args={'name'})

In [87]:
movies['keywords'] = movies['keywords'].apply(convert, args = {'name'})

In [88]:
movies['crew'] = movies['crew'].apply(convert, args = {'job'})

In [90]:
movies['cast'] = movies['cast'].apply(convert, args = {'character'})

In [98]:
# movies['overview']  = movies['overview'].apply(lambda x: x.split())
movies.dropna(inplace=True)

In [99]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [105]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [106]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
1335,23742,Cop Out,"[Detectives, Jimmy, and, Paul,, despite, nine,...","[Action, Comedy, Crime]","[new york, money laundering, daughter, police,...","[Jimmy Monroe, Paul Hodges, Raul]",[Kevin Smith]
891,1850,Man on the Moon,"[A, film, about, the, life, and, career, of, t...","[Comedy, Drama, Romance]","[show business, comedian, wrestling]","[Andy Kaufman/Tony Clifton, Lynne Margulies, J...",[Miloš Forman]
2363,68924,The Ice Storm,"[In, the, weekend, after, thanksgiving, 1973, ...",[Drama],"[based on novel, 1970s, thanksgiving, dysfunct...","[Ben Hood, Elena Hood, Janey Carver]",[Ang Lee]
4745,90414,"I Love You, Don't Touch Me!","[The, story, of, a, 25, year, old, virgin, gir...","[Comedy, Romance]",[woman director],"[Katie, Ben, Richard Webber]",[Julie Davis]
2590,157849,A Most Wanted Man,"[When, a, half-Chechen,, half-Russian,, tortur...",[Thriller],"[terror, muslim, intelligence, immigrant, tort...","[Günther Bachmann, Annabel Richter, Martha Sul...",[Anton Corbijn]

In [107]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
3949,11229,Freeway,"[Following, the, arrest, of, her, mother,, Ram...","[Comedy, Drama, Thriller]","[prison, attempttoescape, stepfather, independ...","[BobWolverton, VanessaLutz, DetectiveMikeBreer]",[MatthewBright]
3824,34769,Defendor,"[A, crooked, cop,, a, mob, boss, and, the, you...","[Drama, Action, Comedy, Crime]","[crimefighter, delusion, superhero]","[ArthurPoppington/Defendor, Kat, ChuckDooney]",[PeterStebbings]
2261,29078,The Game of Their Lives,"[Based, on, a, true, story,, this, film, tells...",[Drama],[sport],"[FrankBorghi, WalterBahr, StanleyMortensen]",[DavidAnspaugh]
4639,300327,Death Calls,"[An, action-packed, love, story, on, the, Mexi...",[],[],[],[]
1562,6557,27 Dresses,"[Altruistic, Jane, finds, herself, facing, her...","[Comedy, Romance]","[lovesickness, newspaper, bar, sistersisterrel...","[JaneNichols, KevinDoyle, TessNichols]",[AnneFletcher]

In [108]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [109]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[JakeSully, Neytiri, Dr.GraceAugustine]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[CaptainJackSparrow, WillTurner, ElizabethSwann]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[JamesBond, Blofeld, Madeleine]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[BruceWayne/Batman, AlfredPennyworth, JamesGor...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[JohnCarter, DejahThoris, Sola]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [110]:
new_df = movies[['movie_id','title','tags']]

In [111]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [115]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

/tmp/ipykernel_6971/1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [116]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [118]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/tmp/ipykernel_6971/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [119]:
new_df.sample(5)

,movie_id,title,tags
319,9890,The Stepford Wives,"what does it take to become a stepford wife, a..."
1736,17834,A Simple Wish,"murray is a male fairy godmother, and he is tr..."
272,24113,Town & Country,porter stoddard is a well-known new york archi...
1187,19912,The Final Destination,after a young man's premonition of a deadly ra...
3617,13193,Saved!,"teenage mary cummings, who has ""been born agai..."

str